{
	"presets": [
		["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }],
    "react",
    "stage-2",
    "flow"
  ],
  "plugins": [
    ["transform-async-to-generator"],
    ["transform-class-properties", { "spec": true }],
    ["flow-react-proptypes"],
    ["syntax-dynamic-import"]
  ]
}
